<table>
  <%= render(cart.line_items) %>
  <tr>
    <td class="total_line" colspan='4'>Total:</td>
    <td class="total_cell"><%= number_to_currency(cart.total_price) %></td>
    <td>
      <%= button_to 'x', cart, method: :delete, remote: true,
        data: { confirm: 'Are you sure?' } %>
    </td>
  </tr>
  <tr>
    <td class="checkout" colspan='6'>
      <%= button_to 'Checkout', new_order_path, method: :get %>
    </td>
  </tr>
</table>


