// Place all the styles related to the carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.carts, #side #cart {
  .item_price, .total_line, .total_cell {
    font-weight: bold;
  }

  .total_line, .checkout{
    text-align: right;
  }

  .total_cell {
    border-top: 1px solid #013c68;
  }
}
